
.app {
   padding: 0 10px;
   line-height:    1.5em;
   overflow-y: scroll;
   height: 100%;
   font-size: 90%;

   h2, h3 {
      margin: 10px 0 10px 0;
   }
   .intro {
      margin-bottom: 20px;
   }
   button {
      margin: 0;
   }
   .examples {
      display: flex;
      flex-flow: row nowrap;
      justify-content: left;
      gap: 10px;
      margin: 5px 0;
   }
   .showButton {
      margin: 10px 0;
   }
   .instructions {
      margin-left: 20px;
      li {
         padding: 5px 0 0 0;
         line-height: 1.4em;
      }
      code {
         background-color: #eee;
         padding: 0 5px;
         border-radius: 5px;
         font-size: 90%;
      }
   }
   .resultConfig {
      display: grid;
      grid-template-columns: 1fr 2fr;
      justify-content: left;
      gap: 10px;
      width: 100%;
      .title {
         color: #888;
         font-weight: bold;
         font-size: 80%;
      }
      &>div {
         //margin: 0 5px;
         padding: 0 5px 0 5px;
         border:  1px solid #ccf;
      }
      .dialogResult {
         min-width: 300px;
         padding-right: 30px;
         .row {
            margin: 5px 0;
         }
         .item {
            background-color: #eef;
            border-radius: 5px;
            padding: 0 2px;
         }
      }
      .dialogConfig {
         width:100%;
         overflow:hidden;
         .configText {
            font-size: 80%;
            line-height: 1.2em;
            overflow:scroll;
         }
      }
   }
}
